# Lock file because it's a library
composer.lock

# Dependency directories
vendor/

# dotenv environment variables file
.env

# Logs
logs
*.log

# Cache
.cache

# macOS
.DS_Store

# IDE
.idea/
.vscode/
